.color-text{
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 150px;
    text-align: center;
}

#input{
    font-size: 100px;
    text-align: center;
}

.btn-div{
    margin-top: 100px;
    text-align: center;
}

.btn{
    background-color: azure;
    font-size: 30px;
}

.tako{
    margin-top: 240px;
    font-size: 30px;
}